
window{
  background-color: rgb(103, 250, 255);
}

button {
  background-color: #a6d6f9; 
  color: red;
  padding: 300px 300px;
  border: 30px solid orange;
  border-radius: 100%; /* make it circular */
  font-size: 30px;
  margin: 200px 200px;
}


