/* styles.css */

button {
    background-color: #4CAF50; /* Green */
    color: red;
    padding: 300px 300px;
    border: 30px solid orange;
    text-decoration: none;
    font-size: 30px;
    margin: 200px 200px;
    animation: example 5s linear 2s infinite alternate;
}

@keyframes example {
  from {border: 30px solid orange;}
  to {border: 50px solid blue;}
}

button:hover {
    background-color: green;
    color: white;
    border: 10px dashed purple;
}
